@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.contenedor {
    background: url('../img/detail.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;      
}


.cont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

.boton {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Permanent Marker', cursive;
    color: rgba(155, 167, 49, 0.788);
    font-size: 40px;
}

.boton:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}