.contenedor {
  background-color: #9F6CBF;
  background: url('../img/create.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: auto;

}


.notfound {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 24rem;
  height: 30rem;
  background-color: rgb(96, 237, 228);
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px rgb(57, 126, 122);
}

.notfound p {
  font-size: 2.3rem;
}
 
.searchPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 1rem;
}


.cards {
  background-color: rgba(255, 255, 255, 0.3);
  list-style: none;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  max-width: 1024px;
  width: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem 0;
}