.buscar {
  background-color: rgb(158, 227, 227);
  overflow: hidden;
  border-radius: 3rem;
  display: flex;
  flex-direction: row-reverse;
  max-width: max-content;
}

.btn {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
}

.btn:hover > :first-child {
  cursor: pointer;
  transform: scale(1.1);
}

.input {
  height: 4.5rem;
  width: 20rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: inherit;
  border: 1px solid black;
  color: rgb(28, 28, 28);
  font-size: 18px;
  padding-left: .4rem;
}

.input input::placeholder {
  color: rgb(82, 82, 82); 
  text-transform: capitalize;
  letter-spacing: 1px;
 
}

.input input:focus {
  outline: none;
}

