.contenedor {
    width: 24rem;
    height: 30rem;
    background-color: rgb(158, 227, 227);
    justify-self: start;
    border-radius: 5px;
    opacity: .8;
    box-shadow: 10px 10px 10px rgb(57, 126, 122);
}

.contenedor:hover {
    opacity: 1;
    cursor: pointer;
    outline: 1px solid black;
}

.imagen{
    padding: 1rem 0;
    height: 12rem;
    width: 100%;  
}

.imagen img {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(.95);
}

.imagen:hover {
    transform: scale(1.05);
}

.nombre {
    margin-top: 1rem;
    color: rgba(159, 108, 191, .7);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
}

.tipos {
    margin-top: 5px;
}

.tipos div{
    margin: 5px 0 ;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}