@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Courgette&display=swap');

.contenedor {   
    display: inline-block;
    background-color: rgba(46,196,220, 0.9);    
    position: relative;
    width: 80vw;
    margin-top: 2rem;
    margin-left: 10vw;
    height: 40px;
    border-radius: 10px;


}


.div {

   position:absolute;
    right: 3rem;
    top: 8px;
}
.btnCreate {
    color: blue;
    font-family: 'Coming Soon', cursive;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
}
.btnCreate:hover {
    color: black;
    border-color: transparent;
    cursor: pointer;
    background-color: rgb(97, 110, 71);
}

.divFiltro {
    position: absolute;
    left: 5rem;
    top: 3px;
}



.divFuerza {
    position:absolute;
    left: 15rem;
    top: 3px;
}


.divFuente {
    position:absolute;
    left: 30rem;
    top: 3px;
}



.divTypes{
    position:absolute;
    left: 43rem;
    top: 3px;
}

.select{
    border: none !important;
    background-color: transparent;
    font-size:larger;
    font-family: 'Coming Soon', cursive;
    scrollbar-color: rgba(0,0,0,.5);
    scrollbar-width: thin;
    
}
.select option {
    border: none !important;
}