@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Courgette&display=swap');

.nav {
    background-color: rgba(46,196,220, 1); 
}

.contenedor {
    width: 80rem;
    height: 4rem;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div {
    background-color: #000;
    border-radius: .5rem;
}

.div:hover {
    transform: scale(1.1);
}

.btnCreate {
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
}


.btnCreate:hover {
    color: #56F2ED;
    border-color: transparent;
    cursor: pointer;
    background-color: black
}

.select{
    border: none !important;
    background: none;
    font-size:larger;
    display: flex;
    justify-content: center;
    font-family: 'Coming Soon', cursive;
    scrollbar-color: rgba(0,0,0,.5);
    scrollbar-width: thin;
    font-size: 20px;
}

.select > option{
    font-size: 20px;
}

.select:hover {
    cursor: pointer;
}

.select:focus {
    outline: none;
}
